/* Estilos para la disposición de los elementos en pantallas de escritorio */

/* Contenedor principal */
.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

/* Cabecera */
header {
    text-align: center;
    padding: 40px 0;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: var(--primary-color);
}

header p {
    font-size: 1.2rem;
    color: var(--dark-color);
}

/* Sección de introducción */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.intro img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

/* Navegación principal */
nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

/*Sección Sobre Mí */
.container h2{
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin-top: 20px;
}

.container p, .container ul {
    font-size: 1.1rem;
    line-height: 1.6;
}

.container ul {
    list-style-type: square;
    padding-left: 20px;
}

.container ul li {
    margin-bottom: 10px;
}

.container a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
}

.container a:hover {
    text-decoration: underline;
}

/* Sección Skills & Tecnologías */
.dropdown {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid var(--accent-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background: white;
    cursor: pointer;
}

.projects-list {
    margin-top: 20px;
    padding: 20px;
    background: var(--light-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
}

.projects-list p {
    font-size: 1.2rem;
    color: var(--dark-color);
}
/* Pie de página */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: var(--light-color);
}