/* Estilos para la disposición de los elementos en pantallas de escritorio */

/* Contenedor principal */
.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

/* Cabecera */
header {
    text-align: center;
    padding: 40px 0;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: var(--primary-color);
}

header p {
    font-size: 1.2rem;
    color: var(--dark-color);
}

/* Sección de introducción */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.intro img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

/* Navegación principal */
nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

/*Sección Sobre Mí */
.container h2{
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin-top: 20px;
}

.container p, .container ul {
    font-size: 1.1rem;
    line-height: 1.6;
}

.container ul {
    list-style-type: square;
    padding-left: 20px;
}

.container ul li {
    margin-bottom: 10px;
}

.container a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
}

.container a:hover {
    text-decoration: underline;
}

/* Sección Skills & Tecnologías */

.skills-nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.skill-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.skill-icon:hover {
    transform: scale(1.1);
    opacity: 0.8;
}


.projects-list {
    margin-top: 20px;
    padding: 20px;
    background: var(--light-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.project-card {
    background: white;
    padding: 15px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 250px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card h3 {
    color: var(--secondary-color);
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.project-card a {
    display: inline-block;
    padding: 8px 12px;
    font-size: 0.9rem;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.project-card a:hover {
    background-color: var(--accent-color);
}
/* Pie de página */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: var(--light-color);
}